.header {
    height: rem(100px);
    margin-bottom: rem(60px);
    position: relative;
    box-sizing: border-box;
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
